{% extends 'base.html.twig' %}

{% block title %}make post lil bro{% endblock %}

{% block body %}
    <h1>appointment</h1>
    <div class="container" >
        <div class="row">
            <div class="col-md-6">

                {{ form_start(form) }}

                {{ form_row(form.title) }}
                {{ form_row(form.description) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
